.catalog-viewed-list {
  padding: 0 0 5rem;
}
.front_page .catalog-viewed-list {
  padding-top: 5rem;
}
.catalog-viewed__item.swiper-slide {
  height: auto;
  min-height: 200px;
  width: calc((min(calc(100vw - var(--scrollbar-width, 0px) - (2 * var(--theme-page-width-padding))), var(--theme-page-width)) - (var(--gap) * (var(--items-count) - 1))) / var(--items-count));
}
.catalog-viewed__item__title {
  word-break: break-word;
  line-height: calc(1em + 5px);
}
.catalog-viewed__item__image {
  width: 96px;
  height: 96px;
  margin: 0 auto;
}
.catalog-viewed__item__image:has(.lazyload) {
  background-color: var(--darkerblack_bg_black);
}

@media (max-width: 600px) {
  .catalog-viewed-list {
    padding-bottom: 40px;
  }
  .front_page .catalog-viewed-list {
    padding-top: 40px;
  }
  .catalog-viewed__item {
    width: 164px !important;
  }
}

.catalog-viewed-list .slider-solution:not(.swiper-initialized) ~ .slider-nav {
  display: none;
}
.catalog-viewed-list .slider-solution:not(.swiper-initialized) .swiper-wrapper {
  --gap: var(--theme-items-gap);

  display: grid;
  gap: var(--gap);
  grid-template-columns: repeat(var(--items-count), 1fr);
  grid-auto-flow: column;
  overflow: hidden;
}
@media (min-width: 425px) {
  .catalog-viewed-list .swiper-wrapper {
    --items-count: 3;
  }
}
@media (min-width: 601px) {
  .catalog-viewed-list .swiper-wrapper {
    --items-count: 4;
  }
}
@media (min-width: 992px) {
  .catalog-viewed-list .swiper-wrapper {
    --items-count: 5;
  }
}
@media (min-width: 1100px) {
  .catalog-viewed-list .swiper-wrapper {
    --items-count: 6;
  }
}
