.sections-slider .sections-slider__wrapper {
  width: auto;
}
.sections-slider__item {
  --item-size: 144px;
  width: var(--item-size);
}
.sections-slider__item--big {
  --item-size: 216px;
  width: var(--item-size);
}
.sections-slider__item-image-wrapper {
  height: var(--item-size);
}
.sections-slider__item-image-wrapper--ICONS{
  height: auto;
}
.sections-slider__item-image-wrapper--ICONS svg,
.sections-slider__item-image-wrapper--ICONS .sections-slider__item-image {
  width: 40px;
  height: 40px;
}
@media (max-width: 600px) {
  .sections-slider__item--big {
    --item-height: 164px;
  }
}