.personal__block--subscribe .form .licence_block {
	text-align: left;
}
.personal__block--subscribe .subscribes-block .form-checkbox__label {
	margin-left: 0;
	margin-bottom: 12px;
}
.personal__block--subscribe .format-subscribe-group .form-radiobox {
	display: inline-block;
	vertical-align: top;
}
.personal__block--subscribe .format-subscribe-group .form-radiobox .form-radiobox__label {
	margin: 0;
}
.personal__block--subscribe .format-subscribe-group label {
	margin-bottom: 0;
}
.personal__block--subscribe .form .form-footer .form-footer__buttons {
	display: flex;
    gap: 12px;
}
@media (max-width: 600px) {
	.personal__block--subscribe .form .form-footer .form-footer__buttons {
		flex-direction: column;
	}
}
.personal__top-form--status .half-block {
	align-items: flex-start;
}
.personal__top-form--status__items {
	display: grid;
  grid-template-columns: 1fr 1fr;
	gap: 14px 8px;
}
