.catalog-complect__amount {
	right: 0;
	pointer-events: none;
}

.catalog-complect__delimeter {
	display: block;
	height: 40px;
	left: 0;
	pointer-events: none;
	top: 50%;
	transform: translate(calc(-50% - var(--theme-items-gap) / 2), -50%);
	width: 40px;
	z-index: 1;
}
.catalog-complect__delimeter::before,
.catalog-complect__delimeter::after {
	background-color: var(--secondary);
	border-radius: 2px;
	content: "";
	display: block;
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
}
.catalog-complect__delimeter::before {
	height: 12px;
	width: 2px;
}
.catalog-complect__delimeter::after {
	height: 2px;
	width: 12px;
}

