.personal__block--profile .form-footer__buttons {
	display: flex;
    gap: 12px;
	justify-content: space-between;
	align-items: center;
}
.personal__block--profile .form textarea {
	resize: vertical;
	height: 44px;
	min-height: 44px;
}
.personal__block--profile .bx-sls .dropdown-block,
.personal__block--profile .bx-slst .dropdown-block {
	color: var(--input_color);
    box-shadow: none;
    border: 1px solid var(--input_border_color);
    height: 44px;
    padding: 6px 44px;
    background-color: var(--input_bg_color);
    font-size: 16px;
    line-height: calc(1em + 4px);
    border-radius: var(--theme-button-border-radius);
    position: relative;
}
.personal__block--profile .bx-sls .bx-ui-sls-clear {
	margin-top: 0;
}
.personal__block--profile .bx-slst .bx-ui-combobox-toggle {
    position: absolute;
    margin: 0;
    height: auto;
    right: 0;
    top: 0;
    bottom: 0;
    width: 54px;
    height: auto;
    cursor: pointer;
    background: 0 0;
}
.personal__block--profile .bx-slst .bx-ui-combobox-toggle:after {
    border: medium solid transparent;
    content: "";
    top: 50%;
    left: 50%;
    position: absolute;
    border-color: #b8b8b8 rgba(255, 212, 52, 0) rgba(255, 212, 52, 0);
    border-width: 5px;
    margin: -1px 0 0 -5px;
    height: 5px;
    width: 5px;
}
.personal__block--profile .bx-sls .dropdown-fade2white,
.personal__block--profile .bx-slst .dropdown-fade2white {
	right: 2px;
	height: 41px;
    background: none;
}
.personal__block--profile .bx-sls .bx-ui-sls-fake,
.personal__block--profile .bx-slst .bx-ui-combobox-fake {
    color: var(--input_color) !important;
}
.personal__block--profile .bx-sls .bx-ui-sls-fake,
.personal__block--profile .bx-slst .bx-ui-combobox-fake,
.personal__block--profile .bx-sls .bx-ui-sls-route {
    font-size: 1rem;
    line-height: calc(1em + 4px);
    z-index: 0;
}
.personal__block--profile .uploader .filename.with_href {
    position: relative;
    z-index: 10;
    width: auto;
}
.personal__block--profile .uploader .filename.with_href a {
    color: inherit;
}
.personal__block--profile .uploader .filename.with_href a:hover {
    text-decoration: underline;
}
.personal__block--profile .btn[name=cancel] {
    display: none;
}
.js-profile-delete {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0 8px;
    flex-shrink: 0;
    padding: 10px 0;
}
@media (min-width: 600px) {
    .js-profile-delete {
        margin-left: auto;
    }
}
@media (max-width: 600px) {
    .personal__block--profile .form-footer__buttons {
        flex-direction: column;
        align-items: stretch;
        justify-content: center;
    }
}

/* popup delete profile */
.popup--profile-delete .form .form-header .title {
    font-size: 1.25rem;
    line-height: calc(1em + 10px);
}
.popup--profile-delete .form.popup .form-header {
    padding-bottom: 14px;
}
.popup--profile-delete .form.popup .form-body {
    padding-bottom: 31px;
}
