.mobile-scrolled {
  display: flex;
  flex-wrap: nowrap;
  overflow: auto;
  padding-bottom: 12px !important;
  margin-bottom: -12px !important;
  padding-top: 12px !important;
  margin-top: -12px !important;
  -webkit-overflow-scrolling: touch;
  gap: var(--gap, 00px);
}
 #main .mobile-scrolled:not(.grid-list--no-gap) {
  --gap: min(var(--theme-items-gap),8px);
}
#main .mobile-scrolled > *:where(a, div) {
  width: 320px;
  flex-shrink: 0;
  box-sizing: content-box;
  order: unset;
}
#main .mobile-scrolled--items-2 > *:where(a, div) {
  width: 260px;
}
#main .mobile-scrolled--items-3 > *:where(a, div) {
  width: 164px;
}
#main .mobile-scrolled.mobile-scrolled--items-auto > *:where(a, div) {
  width: auto;
  padding: 0px;
}
#main .mobile-offset {
  margin: 0 calc(-1 * var(--theme-page-width-padding));
  padding: 0 var(--theme-page-width-padding);
  flex-wrap: nowrap;
  min-width: auto;
}
#main .mobile-offset--right {
  padding: 0 var(--theme-page-width-padding);
}
.grid-list--fill-bg > .grid-list__item > div {
  background: #fff;
  background: var(--card_bg_black);
}
.arrow_scroll {
  overflow: visible;
}

