.personal__block + .personal__block--account-replenish {
	margin-top: 16px;
}
.popup .personal__top-form--replenish {
	border: none;
	box-shadow: none;
}
.personal__top-form--replenish .alert {
	margin-bottom: 0;
}
.personal__top-form--replenish .form-header,
.popup .personal__top-form--replenish h5 {
	display: none;
}
.popup .personal__top-form--replenish .form-header {
	display: block;
}
.personal__top-form--replenish .form-group--input .form-control {
	padding-right: 35px;
}
.personal__top-form--replenish .form-group--input .currency-label {
	position: absolute;
	top: 13px;
    right: 17px;
	color: #222;
	color: var(--white_text_black);
	font-size: 1rem;
	line-height: calc(1em + 4px);
}
.popup .personal__top-form--replenish .form-group--input .line-block__item--btn {
	display: none;
}
.personal__top-form--replenish .fixedpay {
	--border-radius: 50px;
}
.personal__top-form--replenish .form .form-group--paysystems {
	margin-bottom: 0;
}
.personal__top-form--replenish .form .form-group--input + .form-group--paysystems {
	margin-top: 24px;
}
.personal__top-form--replenish .form-group--paysystems .line-block {
	align-items: stretch;
}
.personal__top-form--replenish .form-group--paysystems .line-block__item {
	flex-basis: 50%;
	flex-shrink: 0;
}
.personal__top-form--replenish .form-group--paysystems .paysystem {
	position: relative;
	height: 100%;
	display: flex;
	align-items: center;
}
.personal__top-form--replenish .form-group--paysystems .form-radiobox {
	width: 100%;
}
.personal__top-form--replenish .form-group--paysystems .form-radiobox__label {
	padding: 19px 50px 21px 19px;
	font-size: 1rem;
	line-height: calc(1em + 6px);
	font-weight: 500;
	margin: 0;
	word-break: break-word;
	display: flex;
	align-items: center;
}
.personal__top-form--replenish .form-group--paysystems .form-radiobox__label:not(:hover) {
	color: #222;
	color: var(--white_text_black);
}
.personal__top-form--replenish .form-group--paysystems .form-radiobox__input:checked + .form-radiobox__label {
	box-shadow: inset 0px 0px 0px 2px var(--theme-base-color);
}
.personal__top-form--replenish .form-group--paysystems .form-radiobox__label .form-radiobox__box {
	right: 19px;
	margin: 0px;
	left: auto;
	top: 19px;
}
/* .personal__top-form--replenish .form-group--paysystems .form-radiobox__input:checked + .form-radiobox__label .form-radiobox__box {
	top: 18px;
	right: 18px;
} */
.personal__top-form--replenish .paysystem__description {
	line-height: 0;
	margin-left: 9px;
}
.personal__top-form--replenish .paysystem__logo {
	flex: 1 1 100%;
	line-height: 0;
}
.personal__top-form--replenish .paysystem__logo img {
	max-height: 20px;
	vertical-align: top;
}
.personal__top-form--replenish .form .form-body {
	padding: 0;
}
.personal__top-form--replenish .form .form-footer {
	padding: 28px 0 0 0;
}
.personal__top-form--replenish .form-footer {
	display: none;
}
.popup .personal__top-form--replenish .form-footer {
	display: block;
}
.personal__top-form--replenish__payment > * {
	padding: 0 !important;
}
.personal__top-form--replenish__payment p:last-child {
	margin-bottom: 0;
}
.personal__top-form--replenish__payment .alert {
	margin-top: 20px;
}
.personal__top-form--replenish__payment .alert:last-child {
	margin-bottom: 0;
}
.personal__top-form--replenish__payment .btn {
	margin-bottom: 24px;
}
@media (max-width: 600px) {
	.personal__top-form--replenish .form .form-group--input + .form-group--paysystems {
		margin-top: 31px;
	}
	.personal__top-form--replenish .form .form-group--paysystems .line-block {
		margin: -8px;
	}
	.personal__top-form--replenish .form .form-group--paysystems .line-block > .line-block__item {
		padding: 8px;
	}
	.personal__top-form--replenish .form-group--paysystems .line-block__item {
		flex-basis: 100%;
	}
	.personal__top-form--replenish .form-group--input .line-block__item--btn {
		display: none;
	}
	.personal__top-form--replenish .form-footer {
		display: block;
	}
}